body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 1rem;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 1rem;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding-bottom: 0.25rem;
}

.nav-list a:hover {
    color: #0066cc;
}

.nav-list a.active {
    border-bottom: 2px solid #0066cc;
    color: #0066cc;
}

main {
    padding: 2rem;
}

.panel-container{

}

.left-panel{
}

.right-panel{

}
